:root {
  --background-color: rgb(40, 40, 40);
  --text-color: rgb(255, 255, 255);
  --border-color: rgb(209, 209, 209);
}

.wallet-selector__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    align-items: flex-end;
  }
}

iframe.wallet-selector__modal {
  max-width: 400px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000;
}

.wallet-selector__modal {
  height: 600px;
  position: relative;
  background-color: var(--background-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff0d;
  border-radius: 16px;
  overflow: hidden;
  display: flex;

  @media (max-width: 768px) {
    height: 80%;
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    flex-direction: column;
  }
}

.wallet-selector__options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wallet-selector__modal-sidebar {
  border-right: 1px solid #414141;
  width: 300px;
  padding: 16px;
  height: 100%;
  overflow-y: auto;

  @media (max-width: 768px) {
    border-right: none;
    width: 100vw;
  }
}

.wallet-selector__modal-content {
  width: 400px;
  overflow-y: auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.wallet-selector__modal-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.wallet-selector__option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 12px;
  border-radius: 16px;
  background-color: #1b1b1b;
  cursor: pointer;
  color: #fff;
  width: 100%;
  outline: none !important;
  border: none;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s, border 0.3s;
  border: 1px solid transparent;

  &:hover {
    background-color: #212121;
  }

  &.--selected {
    background-color: #131313;
    border: 1px solid #434343;
  }

  &:active {
    outline: none !important;
  }

  &:focus {
    outline: none !important;
  }

  &:disabled {
    background-color: #131313;
    transform: translate(-10px, -10px);
  }

  & div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 4px;
  }

  & h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }

  & p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #888;
  }

  & * {
    pointer-events: none;
  }

  & img {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-color: #1a1a1a;
    border: none;
  }
}

.wallet-selector__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.wallet-selector__header p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.wallet-selector__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none !important;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.2s;
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.wallet-selector__close:hover {
  background-color: #131313;
}

.wallet-selector__close svg {
  pointer-events: none;
}

.wallet-selector__modal-introduction {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.wallet-selector__modal-introduction p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.wallet-selector__modal-introduction h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.wallet-selector__modal-introduction p:nth-child(2) {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: rgb(209, 209, 209);
}

.wallet-intro {
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background: radial-gradient(circle at center, #2c2c2c 0%, #1a1a1a 100%);
}

.wallet-intro img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  margin-bottom: 24px;
}

.wallet-intro h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.wallet-intro p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgb(209, 209, 209);
  width: 80%;
  margin-bottom: 24px;
}

.wallet-intro button {
  background-color: #131313;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
}

.selector-intro__item {
  display: flex;
  gap: 16px;
}

.selector-intro__item svg {
  width: 56px;
  height: 56px;
  padding: 8px;
  background: #1d1e1e;
  border-radius: 12px;
  color: #fff;
  flex-shrink: 0;
}

.selector-intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  background: radial-gradient(circle at center, #2c2c2c 0%, #1a1a1a 100%);
  height: 100%;
}

.selector-intro h2 {
  margin: 0;
  text-align: center;
}

.selector-intro__item > div {
  display: flex;
  flex-direction: column;
  gap: 4px;

  p {
    margin: 0;
  }

  p:first-child {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  p:last-child {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    word-break: break-word;
  }
}

.selector-intro__dev p {
  text-align: center;
  font-size: 12px;
  color: #888;
}

.selector-intro__items {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 80%;
  margin: 0 auto;
}
