#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  border: 1px solid rgb(42, 42, 42);
  background-color: rgb(22, 22, 22);
  border-radius: 24px;
  padding-bottom: 24px;
  width: calc(50% - 24px);
}

.view p {
  margin: 0;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .view {
    width: 100%;
  }
}
